@model IEnumerable<CommentsServiceModel>

@foreach (var comment in Model)
{
    <div class="row comment">
        <div class="col-sm-3 col-md-2 text-center-xs">
            <p>
                <img src="img/blog-avatar2.jpg" class="img-responsive img-circle" alt="">
            </p>
        </div>
        <div class="col-sm-9 col-md-10">
            <h5 class="text-uppercase">@comment.Author</h5>
            <p class="posted"><i class="fa fa-clock-o"></i> @comment.PublishDate</p>
            <p>
                @comment.Content
            </p>
        </div>
    </div>
}