@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="heading">
                <h2>Register</h2>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="FirstName">First Name<span class="required"> *</span></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="LastName">Last Name<span class="required"> *</span></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="UserName">Username<span class="required"> *</span></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Email">E-mail<span class="required"> *</span></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Password">Password<span class="required"> *</span></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">ConfirmPassword<span class="required"> *</span></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Register</button>

                    </div>
                </div>
                <!-- /.row -->
            </form>
        </div>
    </div>
    <!-- /.row -->

</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
