@model CreateNewsViewModel
@{
    ViewData["Title"] = "Create news";
}

<div id="content" class="clearfix">
    <div class="container">
        <div class="row ">
            <div class="box">
                <div class="heading">
                    <h3 class="text-uppercase">Create news</h3>
                </div>
            </div>
                <section>
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <p>Upload picture for this news:</p>
                                <input type="file" name="Image" multiple />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="VideoUrl"></label>
                                <input asp-for="VideoUrl" class="form-control" />
                                <span asp-validation-for="VideoUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="Content"></label>
                                <textarea asp-for="Content" class="form-control" rows="10" ></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="Tags"></label>
                                <textarea asp-for="Tags" class="form-control" rows="10"></textarea>
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </form>
                </section>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}