@model CreateArticleViewModel
@{
    ViewData["Title"] = "Create Article";
}

    <div class="box">
        <div class="heading">
            <h3 class="text-uppercase">@ViewData["Title"]</h3>
        </div>

        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea class="form-control" name="Content" rows="4"></textarea>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Post Article</button>
            </div>
        </form>
    </div>
