@model NewsDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div id="content">
    <div class="container">
        <div class="row">
            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->
            @await Html.PartialAsync("_NewsDetailsPartial", Model.News)
                <!-- /.row -->
            <!-- *** RIGHT COLUMN ***
    _________________________________________________________ -->

            <div class="col-md-3">

                <!-- *** MENUS AND WIDGETS ***
        _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search in all news">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Popular Tags</h3>
                    </div>
                    @await Html.PartialAsync("_PopularTags", Model.Tags)
                </div>
                <!-- *** MENUS AND FILTERS END *** -->
            </div>
            <!-- /.col-md-3 -->
            <!-- *** RIGHT COLUMN END *** -->
        </div>
    <!-- /.container -->
    </div>
</div>