@model NewsDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div id="content">
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_NewsDetailsPartial", Model.News)
            <div class="col-md-3">
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search in all news">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Popular Tags</h3>
                    </div>
                    @await Html.PartialAsync("_PopularTags", Model.Tags)
                </div>
                @await Html.PartialAsync("_NewsTabsPartial", Model.NewsTabs)
            </div>
        </div>
    </div>
</div>